extends ../layouts/page.pug

block content
  h1= header
  h2
    a(href=Routes.newUsersPath()) Create user
  if users.length === 0
    p No users have been added yet :/
  else
    each user in users
      div
        h2
          a(href=Routes.userPath(user.name))= user.name
        p= user.email